
 @media (max-width :800px){
.btn-menu{
    display:block;
    background-color: var(--clr2);
}
.pages-btn{
    display:none;
    max-width: 70vw;
    max-height:60%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr2);
    padding: 30px;
    color: rgb(184, 184, 184);
    box-shadow: 10px 10px 10px 10px;
    opacity: 1;
    pointer-events: none;
    transition: opacity .3s;
    grid-area: pages;
    grid-template-areas: 
    "btn"
    "pages";
    gap:2rem;
}
body {
    opacity: 1;
    pointer-events: auto;
}
.main-layout{
    pointer-events: auto;
    margin: 1em auto;
}
.btn-close{
    grid-area: btn;
    pointer-events: auto;
  
}
.button-Edit{
    margin-inline-start: 30%;
}

.btn-page{
    height: 2rem;
    background-color: var(--clr3) ;
    border-radius: 15%;
    pointer-events: auto;
}
.Meme-Editor{
    flex-direction: column;
    width: 70vw;
    gap: 1rem;
}
.canvas-container{
    width: 70%;
}
.Editor-Tools{
    flex-direction: row;
    width: 70VW;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}
.Sociel{
    flex-direction: inherit;
}
#my-canvas{
    height: 50vh;
    width: 60vw;
}

 }

 @media (max-width :500px){
     .image-Gallery {
        padding : 1rem;
        width:100% ;
        display: grid;
        grid-template-columns: repeat( 2 , minmax(50px, 1fr) );
        gap: 10px;
     }
     .Meme-Editor {
        display: none;
        width: 80vw;
        gap: 1rem;
        padding: 0 2rem
     }
     .main-layout {
        margin: 0;
    }
    #my-canvas{
        height: 50vh;
        width: 80vw;
    }
    .button-Edit{
        margin-inline-start: 0;
    }

 }




