.main-header{
    height: 6rem;
    background-color: var(--clr2);
    padding: 4rem;
}

.logo{
font-size: 3em;
}

.btn-page{
    height: 2rem;
    background-color: var(--clr3) ;
    border-radius: 15%;
}

.btn-menu{
    display:none;
    
}

.btn-page:hover{
    background-color: #fff;
}