
#my-canvas{
background-color: #fff;
}

.Meme-Editor{
    display: none;
    width: 80%;
    height: 60vh;
    gap: 2rem;
    padding: 0 2rem;
}
.canvas-container{
    width: 50vw;
    max-width: 500px;
}

#my-canvas{
    height:100%;
    width:100%;
}
.Editor-Tools{
    background-color: #70a9a1;
    padding:20px;
    flex-direction: column;
    gap:.5rem;
    border-radius: 12px;
}

.input-txt{
    margin: 0 auto;
    width: 80%;
    border-radius: 12px;
    height: 2.5rem;
    text-align: center;
}
.button-Edit{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.btn-add{
    width: 2rem;
    height: 2rem;
    background-color:#06FF00;
}
.btn-delete{
    width: 2rem;
    height: 2rem;
    background-color:#DA1212
   
}
.btn-next{
    width: 2rem;
    height: 2rem;
    background-color:goldenrod;
}
.font-style{
    background-color: var(--clr2);
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    border-radius: 12px;
    height:5rem;
    padding: .5rem;
}
.fonts{
    height: 1.5rem;
    border-radius: 12px
}
.btn-font{
    width: 3rem;
    height: 1.5rem;
}
.btn-Sociel{
    width: 5rem;
    height: 2.5rem;
    border-radius: 12px;
}
.Sociel{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}